
[submodule "src/mahara"]
	path = src/mahara
	url = https://github.com/MaharaProject/mahara.git
[submodule "src/mahara-artefact_cpds"]
	path = src/mahara-artefact_cpds
	url = git@github.com:ltu-solent/mahara-artefact_cpds.git
[submodule "src/mahara-theme-solent"]
	path = src/mahara-theme-solent
	url = git@github.com:ltu-solent/mahara-theme-solent.git
[submodule "src/mahara-local-lang-en"]
	path = src/mahara-local-lang-en
	url = git@github.com:ltu-solent/mahara-local-lang-en.utf8.git
